/* RESET */
* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #f4f1ea;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CONTENEDOR DE DOS LADOS */
.contenedor-contacto {
  display: flex;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  max-width: 900px;
}

.imagen-decorativa img {
  width: 350px;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* form */
#contacto { padding: 30px; }

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.grupo { display: flex; flex-direction: column; }
.ancho-completo { grid-column: 1 / 3; }

label { font-weight: bold; color: #3d2b1f; margin-bottom: 5px; }

.campo { 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.btn-enviar {
  background-color: #3d2b1f;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* modal y spinner */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

#modal-exito:target { display: flex; }

.spinner {
  width: 50px; height: 50px;
  border: 5px solid white;
  border-top-color: #4CAF50;
  border-radius: 50%;
  animation: girar 1s linear infinite, ocultar 0s 2s forwards;
}

.mensaje {
  position: absolute;
  background: white; padding: 20px; text-align: center;
  opacity: 0;
  animation: mostrar 0.5s 2s forwards;
}

@keyframes girar { to { transform: rotate(360deg); } }
@keyframes ocultar { to { opacity: 0; visibility: hidden; } }
@keyframes mostrar { to { opacity: 1; } }

/* Oculatar imagen para celulares*/
@media (max-width: 836px) {
  .imagen-decorativa { display: none; }
  .formulario {
    grid-template-columns: 1fr; /* AQUÍ se suspenden las dos columnas */
  }

  .ancho-completo {
    grid-column: 1 / 2; /* Ajustamos para que coincida con la nueva única columna */
  }
}